<section class="equipment panelBorder">
  <h2>
    <div>{{localize "l5r4.sheet.equipment"}}</div>
    <a class="item-create" data-type="equipment" title="{{localize "l5r4.sheet.addEquipment"}}">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  <section class="equipment-list">
    <section class="weapons-list">
      {{#each weapons as |weapon id|}}
      {{> "systems/l5r4/templates/partials/weapon-card.hbs" weapon ranged=false inSheet=true}}
      {{/each}}

      {{#each bows as |weapon id|}}
      {{> "systems/l5r4/templates/partials/weapon-card.hbs" weapon ranged=true inSheet=true}}
      {{/each}}
    </section>
    <section class="armors-list">
      {{#each armors as |armor id|}}
      {{> "systems/l5r4/templates/partials/armor-card.hbs" armor inSheet=true}}
      {{/each}}
    </section>
  </section>
</section>