<section class="spells techniques panelBorder">

  <section class="techniques-list spells-list flexrow">
    <div>
      <h2>techniques
        <a class="item-create" data-type="technique">
          <i class="fas fa-plus"></i>
        </a>
      </h2>
      <div class="techniques flexrow">

        {{#each techniques as |technique id|}}
        {{> "modules/alternative-L5R4e-sheet/templates/partials/technique-card.hbs" technique inSheet=true}}
        {{/each}}
      </div>
    </div>
    <div>
      <h2>spells
        <a class="item-create" data-type="spell">
          <i class="fas fa-plus"></i>
        </a>
      </h2>
      <div class="spells flexrow">
        {{#each spells as |spell id|}}
        {{> "modules/alternative-L5R4e-sheet/templates/partials/spell-card.hbs" spell inSheet=true}}
        {{/each}}
      </div>
    </div>
  </section>
</section>