<form class="{{cssClass}}" autocomplete="off">
    <div class="main-sheet">
        <div class="notes-toggle">
            <img src="/modules/alternative-L5R4e-sheet/assets/notes.webp">
            <div class="notes">
                <h2>{{localize "l5r4.sheet.notes"}}</h2>

                {{editor content=data.notes target="data.notes" button=true owner=owner editable=true}}
            </div>
        </div>

        <div class="main-stats">
            {{> "modules/alternative-L5R4e-sheet/templates/partials/pc-stats.hbs"}}
        </div>
        <div class="sidebar">
            <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
            <div class="honor-and-combat">
                {{> "systems/l5r4/templates/partials/pc-honor-and-combat.hbs"}}

                <section class="wounds">
                    {{> "systems/l5r4/templates/partials/pc-wounds.hbs"}}
                </section>
            </div>
        </div>
    </div>
</form>